.option-container {
    inline-size: 50%;
    min-inline-size: 380px;
}

.option__title {
    font-size: $font-size-lg;
}

.option__form-title {
    font-size: $font-size-md;
}

.option-result__title {
    font-size: $font-size-md;
}