* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: rgba(255, 255, 255, 0.5);
}

.header-main {
  position: fixed;
  top: 0;
  left: 0;
  inline-size: 100%;
  background-color: #080f28;
  background-color: #080f28;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.header-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  inline-size: 90%;
  max-inline-size: 1280px;
  block-size: 70px;
  margin: 0 auto;
}

.navbar__logo {
  text-decoration: none;
}

.navbar__logo-img {
  inline-size: 150px;
  block-size: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.list-contact__item {
  -webkit-padding-start: 15px;
          padding-inline-start: 15px;
}

.list-contact__item-link {
  font-size: 2.3rem;
  color: #4f6b95;
  text-decoration: none;
}

.list-contact__item-link:hover {
  color: #007aff;
}

.form-label {
  display: inline-block;
  -webkit-margin-after: 4px;
          margin-block-end: 4px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #007aff;
}

.form-input {
  inline-size: 100px;
  padding: 8px 0;
  border: none;
  outline: none;
  border-radius: 32px;
  border: 2px solid #737785;
  color: #4f6b95;
  font-size: 1.6rem;
  text-align: center;
}

.form-input::-webkit-input-placeholder {
  font-size: 1.6rem;
  color: #4f6b95;
}

.form-input::-moz-placeholder {
  font-size: 1.6rem;
  color: #4f6b95;
}

.form-input:-ms-input-placeholder {
  font-size: 1.6rem;
  color: #4f6b95;
}

.form-input::-ms-input-placeholder {
  font-size: 1.6rem;
  color: #4f6b95;
}

.form-input::placeholder {
  font-size: 1.6rem;
  color: #4f6b95;
}

.form-input:focus {
  border: 2px solid #007aff;
}

.primary__button {
  padding: 12px;
  font-size: 1.6rem;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  border-radius: 32px;
  background-color: #007aff;
  text-decoration: none;
  cursor: pointer;
}

.primary__button:hover {
  background-color: #007bffd8;
}

.secondary__button {
  padding: 12px;
  font-size: 1.6rem;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  border-radius: 32px;
  background-color: #3d4f91;
  text-decoration: none;
  cursor: pointer;
}

.secondary__button:hover {
  background-color: #222e57;
}

.info-project-container {
  inline-size: 90%;
  max-inline-size: 1280px;
  margin: 120px auto 0;
  text-align: center;
}

.info-project__back-btn {
  display: inline-block;
  -webkit-margin-after: 32px;
          margin-block-end: 32px;
}

.info-project__title {
  inline-size: 100%;
  margin: 0 auto 16px;
  font-size: 2.4rem;
  color: #080f28;
}

.info-project__desc {
  inline-size: 100%;
  margin: 0 auto 32px;
  font-size: 1.6rem;
  font-weight: 500;
  color: #4f6b95;
}

.options-main {
  inline-size: 100%;
  margin-block: 32px;
}

.options-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  inline-size: 90%;
  max-inline-size: 1280px;
  margin: 0 auto;
}

.option-container {
  inline-size: 100%;
  max-inline-size: 380px;
  -webkit-margin-after: 32px;
          margin-block-end: 32px;
  overflow: hidden;
  border-radius: 8px;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.option-head {
  inline-size: 100%;
  padding: 12px 20px;
  text-align: center;
  background-color: #141a32;
}

.option__icon {
  inline-size: 80px;
  block-size: 80px;
  -webkit-margin-after: 4px;
          margin-block-end: 4px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.option__title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
}

.option__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  inline-size: 100%;
  padding: 12px 20px;
  text-align: center;
}

.option__form-title {
  -webkit-margin-after: 24px;
          margin-block-end: 24px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #4f6b95;
}

.form-group-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  inline-size: 100%;
  -webkit-margin-after: 24px;
          margin-block-end: 24px;
}

.form-group-input {
  inline-size: 30%;
}

.option__form-button {
  inline-size: 100%;
  padding: 12px;
  -webkit-margin-after: 16px;
          margin-block-end: 16px;
  border: none;
}

.result-section {
  inline-size: 100%;
  border-radius: 12px;
  padding: 0 12px;
  -webkit-margin-before: 8px;
          margin-block-start: 8px;
  background-color: rgba(20, 26, 50, 0.1);
}

.option-result-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  inline-size: 100%;
  margin-block: 16px;
}

.option-result__title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #4f6b95;
}

.option__form-result {
  inline-size: auto;
  -webkit-margin-start: 8px;
          margin-inline-start: 8px;
  font-size: 1.8rem;
  color: #080f28;
}

.footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  inline-size: 100%;
  padding: 32px 5%;
  background-color: #181f36;
}

.footer__logo {
  inline-size: 30px;
  block-size: auto;
  -webkit-margin-after: 12px;
          margin-block-end: 12px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.footer__text {
  font-size: 1.8rem;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
}

.footer__text span {
  font-size: 1.8rem;
  color: #007aff;
  text-transform: uppercase;
}