.name-project {
    font-size: $font-size-xxl;
}

.course {
    flex-direction: row;
    padding: 20px;
}

.course__img {
    inline-size: 300px;
}

.course-info {
    text-align: start;
    margin-block-start: 0;
    margin-inline-start: 16px;
}

.course-info__name {
    font-size: $font-size-xl;
}

.course-info__teac {
    font-size: $font-size-md;
}

.course-info__desc {
    font-size: $font-size-lg;
}

.course-info__btn {
    font-size: $font-size-lg2;
}
