@import "./primary-button";

.course-main {
    inline-size: 100%;
    margin-block-start: 140px;
}

.name-project {
    inline-size: 90%;
    max-inline-size: 1280px;
    margin: 0 auto;
    padding-block-end: 12px;
    font-size: $font-size-lg3;
    color: $color-background;
    text-align: center;
    border-block-end: 1px solid $color-primary-border;
}

.course {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    inline-size: 90%;
    max-inline-size: 1280px;
    margin: 70px auto 0;
    padding: 20px 12px;
    border-radius: 8px;
    background-color: $color-background-light;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.course__img {
    inline-size: 156px;
    block-size: auto;
    object-fit: cover;
    object-position: center;
}

.course-info {
    margin-block-start: 32px;
    text-align: center;
}

.course-info__name {
    font-size: $font-size-lg2;
    font-weight: 600;
    color: $color-textprimary;
    margin-block-end: 4px;
}

.course-info__teac {
    display: inline-block;
    font-size: $font-size-sm;
    color: $color-primary-opacity;
    margin-block-end: 16px;
    text-decoration: none;
}

.course-info__teac:hover {
    color: $color-primary;
}

.course-info__desc {
    font-size: $font-size-md;
    line-height: 1.5;
    color: $color-textfourth;
    margin-block-end: 24px;
}

.course-info__btn {
    display: inline-block;
    padding: 8px 32px;
    font-size: $font-size-lg;
}
