// Colors
$color-primary: #007aff;
$color-primary-opacity: #007bffd8;
$color-secondary: #3d4f91;
$color-background: #080f28;
$color-background-light: #141a32;
$color-back-button-secondary: #181f36;
$color-textprimary: #ffffff;
$color-textsecund: #4f6b95;
$color-textthird: #edb709;
$color-textfourth: #8da0bc;
$color-icons-footer: rgba(255, 255, 255, 0.5);
$color-primary-border: #737785;
$color-secoundary-border: #222e57;
//Fonts
$font-primary: "Raleway", sans-serif;
// Font size
$font-size-vs: 1.2rem;
$font-size-sm: 1.4rem;
$font-size-md: 1.6rem;
$font-size-lg: 1.8rem;
$font-size-lg2: 2.4rem;
$font-size-lg3: 3rem;
$font-size-xl: 4rem;
$font-size-xxl: 6rem;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $font-primary;
    background-color: $color-icons-footer;
}
