.info-project__title {
    margin-block-end: 20px;
    font-size: $font-size-xl;
}

.info-project__desc {
    margin-block-end: 50px;
    font-size: $font-size-lg;
}

.option-container {
    inline-size: 30%;
}

.option__title {
    font-size: $font-size-lg2;
}

.option__form-title {
    font-size: $font-size-lg;
}

.option-result__title {
    font-size: $font-size-lg;
}

.option__form-result {
    font-size: $font-size-lg2;
}
